/*Variables*/
/*Maps*/
svg.bi-facebook {
  fill: #3a5795; }

svg.bi-instagram {
  fill: #8f348f; }

svg.green {
  fill: green; }

svg.bi-whatsapp {
  fill: green; }

/*Extend*/
.logoDolceakasa {
  padding: 3%; }

.pastelarcoiris {
  border: solid 1px black; }

div.nosotros2 {
  margin-top: 8%;
  margin-left: 6%; }

/*Mixin*/
.conoHelado {
  border-radius: 50%;
  margin-top: 150px;
  width: 30rem;
  height: 30rem; }

/******/
/*Responsive***************************************************/
/*Mobile Responsive**************************************************************/
@media (max-width: 480px) {
  /**Index**/
  img.logoDolceakasa {
    height: 70%; }
  .carousel-inner {
    height: 200px; }
  .imgCarrusel {
    padding-bottom: 550px; }
  h5.textoClick {
    font-size: larger; }
  /**Nosotros**/
  video {
    width: 300px;
    margin: 20px 0; }
  .DivPastel {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap; }
  img.pastelarcoiris {
    margin: 10px 0; }
  p.nosotros {
    font-size: xx-small; }
  /**Productos**/
  .textoClick2 {
    font-size: small; }
  div.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  div.productoscards {
    width: 100%; }
  /**Delivery**/
  p.lead {
    font-size: small; }
  div.delivery {
    padding: 0%;
    margin: 1%; }
  /**Contacto**/
  .formDiv {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/*Tablet Responsive**********************************************************************/
@media (min-width: 481px) and (max-width: 896px) {
  /**Index**/
  img.logoDolceakasa {
    height: 80%; }
  .carousel-inner {
    height: 300px; }
  .imgCarrusel {
    padding-bottom: 400px; }
  /**Nosotros**/
  video {
    width: 80%;
    margin: 20px 0; }
  /**Productos**/
  div.productos {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  h5.textoClick2 {
    font-size: larger; }
  /**Delivery**/
  div.delivery {
    margin: 1%; }
  /**Contacto**/
  .formDiv {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; } }

/*Animations************************************************/
/*Imagenes de productos*/
.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1; } }

/*Titulos H1*/
.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/*Logo del Index*/
.bounce-top {
  -webkit-animation: bounce-top 2s both;
  animation: bounce-top 2s both; }

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

/*Generales******************************************************/
body {
  background-image: url(../assets/navbar.jpg);
  background-size: 4000px; }

h1 {
  text-align: center;
  background-color: white; }

.nav-link {
  border: 1px solid gray; }

/**Index**/
img.logoNav, .logoDolceakasa, .pastelarcoiris {
  border-radius: 50%; }

div.clickImagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: 2px solid black; }

.imgCarrusel {
  height: 750px;
  object-fit: cover; }

/**Nosotros**/
div.nosotros, div.nosotros2 {
  background-color: rgba(0, 0, 0, 0.541); }

p.nosotros {
  text-align: center;
  font-size: large;
  color: white; }

.DivPastel {
  display: flex;
  justify-content: center;
  align-items: center; }

/**Productos**/
img.card-img-top {
  height: 223px;
  object-fit: cover; }

/**Delivery**/
div.delivery,
iframe {
  background-color: rgba(0, 0, 0, 0.541);
  background-size: contain;
  width: 100%; }

div.delivery {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 3%; }

h2,
.lead {
  color: white; }

/**Contacto**/
div.formulario {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.formDiv {
  text-align: center;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.562);
  margin-left: auto;
  margin-right: auto; }
  .formDiv legend,
  .formDiv label {
    color: white; }
  .formDiv input,
  .formDiv textarea {
    border: 2px solid gray;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 0.5rem;
    background: white; }
  .formDiv input:hover,
  .formDiv textarea:hover {
    border-color: white; }
  .formDiv input:focus,
  .formDiv textarea:focus {
    border-color: lightblue; }

/*Pseudoclases*/
div ul li a.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.363); }
