/*Responsive***************************************************/
/*Mobile Responsive**************************************************************/
@media (max-width: 480px) {
  /**Index**/
  img.logoDolceakasa {
    height: 70%;
  }

  .carousel-inner {
    height: 200px;
  }

  .imgCarrusel {
    padding-bottom: 550px;
  }

  h5.textoClick {
    font-size: larger;
  }

  /**Nosotros**/
  video {
    width: 300px;
    margin: 20px 0;
  }

  .DivPastel {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  img.pastelarcoiris {
    margin: 10px 0;
  }

  p.nosotros {
    font-size: xx-small;
  }

  /**Productos**/

  .textoClick2 {
    font-size: small;
  }

  div.productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.productoscards {
    width: 100%;
  }

  /**Delivery**/

  p.lead {
    font-size: small;
  }

  div.delivery {
    padding: 0%;
    margin: 1%;
  }
  /**Contacto**/

  .formDiv {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Tablet Responsive**********************************************************************/

@media (min-width: 481px) and (max-width: 896px) {
  /**Index**/
  img.logoDolceakasa {
    height: 80%;
  }

  .carousel-inner {
    height: 300px;
  }

  .imgCarrusel {
    padding-bottom: 400px;
  }
  /**Nosotros**/
  video {
    width: 80%;
    margin: 20px 0;
  }

  /**Productos**/

  div.productos {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h5.textoClick2 {
    font-size: larger;
  }

  /**Delivery**/

  div.delivery {
    margin: 1%;
  }

  /**Contacto**/

  .formDiv {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
}
