/*Responsive***************************************************/

/*Mobile Responsive*/
@media (max-width: 480px) {
  .conoHelado {
    display: none;
  }

  video {
    width: 300px;
  }

  .DivPastel {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

/*Tablet Responsive*/
@media (min-width: 481px) and (max-width: 768px) {
  .conoHelado {
    margin-top: 200px;
    width: 300px;
    height: 300px;
  }
}
