/*Variables*/

$gradNav: url(../assets/navbar.jpg);

/*Maps*/

$colores: (
  bi-facebook: #3a5795,
  bi-instagram: rgb(143, 52, 143),
  green: green,
);

@each $name, $color in $colores {
  svg.#{$name} {
    fill: $color;
  }
}

svg.bi-whatsapp {
  fill: map-get($colores, green);
}

/*Extend*/

.logoDolceakasa {
  @extend img.logoNav;
  padding: 3%;
}

.pastelarcoiris {
  @extend img.logoNav;
  border: solid 1px black;
}

div.nosotros2 {
  @extend div.nosotros;
  margin-top: 8%;
  margin-left: 6%;
}

/*Mixin*/

@mixin sizes-Cono-Helado($border-radius, $margin-top, $width, $height) {
  border-radius: $border-radius;
  margin-top: $margin-top;
  width: $width;
  height: $height;
}

.conoHelado {
  @include sizes-Cono-Helado(50%, 150px, 30rem, 30rem);
}

/******/
