/*Variable*/
$NavGradient: linear-gradient(#0f2027, #203a43, #2c5364);

/*Generales******************************************************/
h1 {
  text-align: center;
}

.conoHelado {
  border-radius: 50%;
  margin-top: 150px;
  width: 30rem;
  height: 30rem;
}

.pastelarcoiris {
  border-radius: 50%;
}

img.logoNav {
  border-radius: 50%;
}

.divCarrusel,
.imgCarrusel {
  width: 40%;
  height: 50%;
  margin: 2% auto;
  border-radius: 50%;
}

.cajaProductos {
  height: 50%;
  width: 60%;
  position: relative;
  left: 20%;
}

body {
  .NavDolce {
    background-image: $NavGradient;
  }
}

/*Contact Form*/

.formDiv {
  background-image: linear-gradient(#c0c0aa, #2c5364, #c0c0aa);
  text-align: center;
}

input,
textarea {
  border: 2px solid gray;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0.5rem;
  background: none;
}

input:hover,
textarea:hover {
  border-color: white;
}

input:focus,
textarea:focus {
  border-color: lightblue;
}

/*Pseudoclases*/
div {
  ul {
    li {
      a.nav-link:hover {
        position: relative;
        bottom: 10px;
      }
    }
  }
}

@import "responsive";
@import "animaciones";
